header.header
	.header__head
		.header__logotype
			img(src="../images/header-logo.png", alt="Logotype")
		.header__login-items.login-items
			a.login-items__link(href="#") log in
			a.login-items__link(href="#") sign up
			a.login-items__menu(href='#')
				span
	.header-content
		h2.header-content__first-subtitle Find your Favorite
		h1.header-content__second-subtitle RECIPES
		a(href="#content").button.button--opacity get started
		p.header-content__subscribe OR SEND US YOUR OWN RECIPES AND GET REWARDED!
