/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1000px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .section-some-cuisines__recipe {
        font-size: 25px;
    }
 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .section-content__get-items {
        flex-direction: column;
        padding: 20px;
    }

    .section-content .fudi-app__description {
        font-size: 14px;
    }
    .section-content .fudi-app {
        align-items: flex-end;
    }
    .section-content .fudi-app__introducing-app {
        padding-bottom: 25px;
    }
    .section-some-cuisines__recipe {
        font-size: 18px;
    }
    .section-some-cuisines__some-recipes {
        font-size: 12px;
    }
    .section-some-cuisines .numbers__some-numb {
        font-size: 20px;
    }
    .section-some-cuisines .numbers__subtitle {
        font-size: 14px;
    }
}

@media only screen and (max-width : 577px) {
    .section-content__get-items {
        padding: 10px;
    }
    .fudi-app__iphone-app {
        display: none;
    }
    .fudi-app__introducing-app {
        padding: 30px;
    }
    .section-content .fudi-app__introducing-app {
        margin-top: 0;
    }
    .section-content .fudi-app {
        padding-top: 20px;
    }
    .section-slider .main-carousel__review {
        font-size: 16px;
    }
    .section-slider .main-carousel__reviewer-info {
        font-size: 12px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


    .header__head {
        opacity: 0;
        transition: .7s;
    }


    .purpl-header {
        background-color: rgba(88, 35, 73, 1);
    }
    .header__logotype {
        visibility: hidden;
    }
    .login-items__link {
        visibility: hidden;
    }
    .footer {
        flex-direction: column;
        padding: 0;
    }
    .footer__rights {
        margin-bottom: 0;
    }
    .owl-item {
        padding: 5px;
    }
    .section-some-cuisines .numbers {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .numbers__number-wrap {
        padding: 10px;
    }
    .section-some-cuisines__cuisunes-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section-some-cuisines {
        flex-direction: column;
    }
    .section-some-cuisines__first-cuisines, .section-some-cuisines__second-cuisines {
        flex-direction: column;
    }
    .section-some-cuisines__numbers {
        flex-direction: column !important;
    }
    .header-content__responsive-logo {
        margin-bottom: 70px;
    }

    .header .header-content__second-subtitle {
        font-size: 50px;
    }
    .header .header-content__first-subtitle {
        font-size: 18px;
    }
    .button--opacity {
        font-size: 11px;
    }
    .button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .header .header-content__subscribe {
        font-size: 9px;
    }

    
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .header-content__responsive-logo {
        display: none;
    }
}

@media only screen and (min-width : 576px) {
    
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}