/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .section-heading__background-mounts {
        bottom: -50px;
    }
}

@media only screen and (max-width : 1000px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    .section-fun-facts__facts-img {
        max-width: 100%;
        left: 0;
    }
    .tech-wrap {
        text-align: center !important;
    }
    .iphone-wrap {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-nav {
        text-align: center;
    }
    .section-heading__background-mounts {
        bottom: -20px;
    }
    .footer {
        text-align: center;
    }
    .footer .social-links {
        float: none;
        margin: 20px;
    }
}

@media only screen and (max-width : 577px) {
    
    .slider_nav .counter-wrap {
        margin: -10px 3px 0px 3px;
    }
    .slider_nav {
        margin-left: 0;
    }
    .slider_nav .prev {
        width: 100px;
    }
    .slider_nav .prev::before {
        width: 120px;
    }
    .slider_nav .next {
        width: 100px;
    }
    .slider_nav .next::before {
        width: 120px;
    }

    .slider_nav .prev span {
        font-size: 12px;
        top: 4px;
        left: 20px;
    }

    .slider_nav .next span {
        font-size: 12px;
        top: 11px;
        left: 0px;
    }
    
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .section-blog-posts .blog-post {
        height: 370px;
    }
    
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {
    
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}