extends ../layouts/page.pug

block title
  title Fudi

block content
  section.section-content#content
    .section-content__get-items
      .get-item
        .get-item__image-block
          object(type='image/svg+xml', data='../images/burger-logo.svg')
            img(src='../images/burger-logo.png', alt='image format png')
        h3.get-item__subtitle GET INSPIRED
        .get-item__subline.subline
        p.get-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quia inventore porro incidunt maiores corrupti eveniet, recusandae numquam.
      .get-item
        .get-item__image-block
          object(type='image/svg+xml', data='../images/money-logo.svg')
            img(src='../images/money-logo.png', alt='image format png')
        h3.get-item__subtitle GET REWARDED
        .get-item__subline.subline
        p.get-item__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores recusandae commodi soluta explicabo necessitatibus ullam repellat ipsam qui.
      .get-item
        .get-item__image-block
          object(type='image/svg+xml', data='../images/sheff-logo.svg')
            img(src='../images/sheff-logo.png', alt='image format png')
        h3.get-item__subtitle GET SOCIAL
        .get-item__subline.subline
        p.get-item__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ipsum illum recusandae esse id reprehenderit. Animi, accusantium laborum.
    
    .section-content__fudi-app.fudi-app#fudi-app
      .fudi-app__iphone-app
        img.fudi-app__app-image(src="../images/iphone-img.png", alt="App")
      .fudi-app__introducing-app
        h3.fudi-app__subtitle INTRODUCING THE FUDI APP
        .fudi-app__subline.subline
        p.fudi-app__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ea nostrum rem porro assumenda culpa eaque amet cumque! Vero fugit eaque corporis iusto non labore, possimus tempore. Hic, rem dolorem.
        p.fudi-app__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati harum mollitia veritatis perspiciatis ullam atque, ducimus excepturi voluptas tenetur laboriosam qui amet cupiditate quaerat fuga doloribus sequi totam quam suscipit nesciunt minus itaque unde architecto recusandae. Doloribus quisquam ea minus!
        p.fudi-app__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magnam obcaecati placeat a impedit beatae quo dolorem id inventore accusantium.
        a.fudi-app__app-link(href="#")
          img(src="../images/appStore.png", alt="appStore")
        a.fudi-app__app-link(href="#")
          img(src="../images/googlePlay.png", alt="googlePlay")

  section.section-slider#reviews
    .owl-carousel.owl-theme.main-carousel
      .owl-item

        .main-carousel__reviewer-photo
          img.main-carousel__img-photo(src="../images/rew-photo.jpg", alt="reviewer")
        p.main-carousel__review “I am so happy because I found this recipe, and it just made my life easier. <br> Thanks  so much for sharing!”
        p.main-carousel__reviewer-info - Michael Dawson, San Francisco, CA -

      .owl-item

        .main-carousel__reviewer-photo
          img.main-carousel__img-photo(src="../images/rew-photo.jpg", alt="reviewer")
        p.main-carousel__review “I am so happy because I found this recipe, and it just made my life easier. <br> Thanks  so much for sharing!”
        p.main-carousel__reviewer-info - Michael Dawson, San Francisco, CA -
      .owl-item

        .main-carousel__reviewer-photo
          img.main-carousel__img-photo(src="../images/rew-photo.jpg", alt="reviewer")
        p.main-carousel__review “I am so happy because I found this recipe, and it just made my life easier. <br> Thanks  so much for sharing!”
        p.main-carousel__reviewer-info - Michael Dawson, San Francisco, CA -

  section.section-some-cuisines#some-cuisines
    .section-some-cuisines__cuisunes-wrapper
      .section-some-cuisines__first-cuisines
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/1.jpg", alt="Italian")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 327 Recipes
            h4.section-some-cuisines__recipe Italian
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/2.jpg", alt="Indian")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 856 Recipes
            h4.section-some-cuisines__recipe Indian
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/3.jpg", alt="French")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 27 Recipes
            h4.section-some-cuisines__recipe French"
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/4.jpg", alt="Steakhouse")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 174 Recipes
            h4.section-some-cuisines__recipe Steakhouse
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/5.jpg", alt="seafood")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 131 Recipes
            h4.section-some-cuisines__recipe seafood
      .section-some-cuisines__second-cuisines
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/6.jpg", alt="Sushi")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 237 Recipes
            h4.section-some-cuisines__recipe Sushi
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/7.jpg", alt="Mexican")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 529 Recipes
            h4.section-some-cuisines__recipe Mexican
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/8.jpg", alt="Chinese")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 145 Recipes
            h4.section-some-cuisines__recipe Chinese
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/9.jpg", alt="Pizza")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 327 Recipes
            h4.section-some-cuisines__recipe Pizza
        .section-some-cuisines__image-wrapper
          img(src="../images/cuisines/10.jpg", alt="American")
          .section-some-cuisines__recipe-subscribe
            p.section-some-cuisines__some-recipes 1.437 Recipes
            h4.section-some-cuisines__recipe American

    .section-some-cuisines__numbers.numbers
      .numbers__number-wrap
        h4.numbers__some-numb 23,567
        p.numbers__subtitle Recipes Available
      .numbers__number-wrap
        h4.numbers__some-numb 431,729
        p.numbers__subtitle Active Users
      .numbers__number-wrap
        h4.numbers__some-numb 892,173
        p.numbers__subtitle Positive Reviews 
      .numbers__number-wrap
        h4.numbers__some-numb 56,581
        p.numbers__subtitle Photos & Videos
      .numbers__number-wrap
        h4.numbers__some-numb 3,182
        p.numbers__subtitle Spices and Herbs 
block scripts
